In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./dataset/netflix_titles.csv")

In [3]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [4]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [5]:
df.shape

(8807, 12)

In [6]:
df['listed_in'].value_counts()

listed_in
Dramas, International Movies                          362
Documentaries                                         359
Stand-Up Comedy                                       334
Comedies, Dramas, International Movies                274
Dramas, Independent Movies, International Movies      252
                                                     ...
Kids' TV, TV Action & Adventure, TV Dramas              1
TV Comedies, TV Dramas, TV Horror                       1
Children & Family Movies, Comedies, LGBTQ Movies        1
Kids' TV, Spanish-Language TV Shows, Teen TV Shows      1
Cult Movies, Dramas, Thrillers                          1
Name: count, Length: 514, dtype: int64

# Split the 'Genre' column into multiple rows

In [3]:
df.assign(Genre = df['listed_in'].str.split(', ')).explode('Genre')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Documentaries
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",International TV Shows
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",TV Dramas
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",TV Mysteries
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,Crime TV Shows
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",Children & Family Movies
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",Comedies
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,Dramas
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,International Movies
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,Music & Musicals

In [4]:
new_df = df.assign(Genre = df['listed_in'].str.split(', ')).explode('Genre')

new_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Documentaries
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",International TV Shows
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",TV Dramas
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",TV Mysteries
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,Crime TV Shows

## Reset the Index

In [5]:
new_df = new_df.reset_index(drop=True)

new_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Documentaries
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",International TV Shows
2,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",TV Dramas
3,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",TV Mysteries
4,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,Crime TV Shows

## Group by 'Genre' and count occurrences
### Top Genre

In [6]:
genre_count = new_df['Genre'].value_counts().reset_index()
genre_count.columns = ['Genre', 'Count']

genre_count.head()

                    Genre  Count
0    International Movies   2752
1                  Dramas   2427
2                Comedies   1674
3  International TV Shows   1351
4           Documentaries    869

## by 'Type'
### Top Genre by Type

In [7]:
# Separate Movies and TV Shows into two DataFrames
movies_df  = new_df[new_df['type'] == 'Movie']
tv_shows_df = new_df[new_df['type'] == 'TV Show']

In [8]:
movie_genre_count = movies_df['Genre'].value_counts().reset_index()
movie_genre_count.columns = ['Genre', 'Count']

movie_genre_count.head()

                  Genre  Count
0  International Movies   2752
1                Dramas   2427
2              Comedies   1674
3         Documentaries    869
4    Action & Adventure    859

In [9]:
tv_show_genre_count = tv_shows_df['Genre'].value_counts().reset_index()
tv_show_genre_count.columns = ['Genre', 'Count']

tv_show_genre_count.head()

                    Genre  Count
0  International TV Shows   1351
1               TV Dramas    763
2             TV Comedies    581
3          Crime TV Shows    470
4                Kids' TV    451

# Split the 'cast' column into multiple rows

In [10]:
new_df.assign(cast = new_df['cast'].str.split(', ')).explode('cast')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Documentaries
1,s2,TV Show,Blood & Water,NaN,Ama Qamata,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",International TV Shows
1,s2,TV Show,Blood & Water,NaN,Khosi Ngema,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",International TV Shows
1,s2,TV Show,Blood & Water,NaN,Gail Mabalane,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",International TV Shows
1,s2,TV Show,Blood & Water,NaN,Thabang Molaba,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",International TV Shows
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19322,s8807,Movie,Zubaan,Mozez Singh,Manish Chaudhary,India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,Music & Musicals
19322,s8807,Movie,Zubaan,Mozez Singh,Meghna Malik,India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,Music & Musicals
19322,s8807,Movie,Zubaan,Mozez Singh,Malkeet Rauni,India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,Music & Musicals
19322,s8807,Movie,Zubaan,Mozez Singh,Anita Shabdish,India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,Music & Musicals
19322,s8807,Movie,Zubaan,Mozez Singh,Chittaranjan Tripathy,India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,Music & Musicals

In [11]:
new_df = new_df.assign(cast = new_df['cast'].str.split(', ')).explode('cast')

new_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Documentaries
1,s2,TV Show,Blood & Water,NaN,Ama Qamata,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",International TV Shows
1,s2,TV Show,Blood & Water,NaN,Khosi Ngema,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",International TV Shows
1,s2,TV Show,Blood & Water,NaN,Gail Mabalane,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",International TV Shows
1,s2,TV Show,Blood & Water,NaN,Thabang Molaba,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",International TV Shows

## Group by 'Cast' and count occurrences

In [12]:
new_df['cast'].value_counts()

cast
Anupam Kher         120
Shah Rukh Khan       99
Naseeruddin Shah     92
Akshay Kumar         85
Paresh Rawal         79
                   ...
Vadhir Derbez         1
Brady Jenness         1
Chris Galust          1
Heath Freeman         1
Gary Basaraba         1
Name: count, Length: 36439, dtype: int64

In [15]:
cast_counts_per_title = new_df.groupby('cast')['title'].nunique().reset_index(name='Count')
cast_counts_per_title.columns = ['Cast', 'Count']
cast_counts_per_title = cast_counts_per_title.sort_values('Count', ascending=False)

cast_counts_per_title.head()

                   Cast  Count
2833        Anupam Kher     43
30489    Shah Rukh Khan     35
16697     Julie Tejwani     33
24215  Naseeruddin Shah     32
32591  Takahiro Sakurai     32

# Group by 'Genre' and count occurrences after explosion of cast
### Top Genre

In [18]:
# Group by Title and Genre, then count unique genres per Title
genre_counts_per_title = new_df.groupby('Genre')['title'].nunique().reset_index(name='Count')
genre_counts_per_title.columns = ['Genre', 'Count']
genre_counts_per_title = genre_counts_per_title.sort_values('Count', ascending=False)

genre_counts_per_title.head()

                     Genre  Count
16    International Movies   2752
12                  Dramas   2427
7                 Comedies   1674
17  International TV Shows   1351
10           Documentaries    869

## by 'Type'
### Top Genre by Type

In [19]:
# Separate Movies and TV Shows into two DataFrames
movies_df  = new_df[new_df['type'] == 'Movie']
tv_shows_df = new_df[new_df['type'] == 'TV Show']

In [20]:
# Group by Title and Genre, then count unique genres per Title
genre_counts_per_title = movies_df.groupby('Genre')['title'].nunique().reset_index(name='Count')
genre_counts_per_title.columns = ['Genre', 'Count']
genre_counts_per_title = genre_counts_per_title.sort_values('Count', ascending=False)

genre_counts_per_title.head()

                   Genre  Count
11  International Movies   2752
7                 Dramas   2427
4               Comedies   1674
6          Documentaries    869
0     Action & Adventure    859

In [21]:
# Group by Title and Genre, then count unique genres per Title
genre_counts_per_title = tv_shows_df.groupby('Genre')['title'].nunique().reset_index()
genre_counts_per_title.columns = ['Genre', 'Count']
genre_counts_per_title = genre_counts_per_title.sort_values('Count', ascending=False)

genre_counts_per_title.head()

                     Genre  Count
5   International TV Shows   1351
15               TV Dramas    763
14             TV Comedies    581
3           Crime TV Shows    470
6                 Kids' TV    451

In [22]:
new_df.to_csv('./dataset/updated_netflix_titles.csv', index=False)